<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>CSVServlet</servlet-name>
		<display-name>CSV Servlet App</display-name>
		<servlet-class>boot.camp.csvservlet.controller.CSVServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CSVServlet</servlet-name>
		<url-pattern>/persons</url-pattern>
	</servlet-mapping>
</web-app>
